.App {
  display: flex;
  justify-content: center;
}

.main {
  margin-top: 50px;
}

.cell-row {
  display: flex;
}

.cell {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #00e676;
  color: #000;
  border: 1px solid #fff;
}


.cell-uncovered {
  background: #ffea00;
}
.cell-flagged {
  background: #ff4569;
}